[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
request = "*"
requests = "*"
pygal = "*"
appium-python-client = "*"
pytest = "*"
xlrd = "*"
pyserial = "*"
openpyxl = "*"
gevent = "*"
tqdm = "*"
aiohttp = "*"
lxml = "*"

[requires]
python_version = "3.7"
